.hero{
    margin: 0;
    background-color: #EBEBEB;    
img{
    height: 100%;
    width: 100%;
}
    .desc{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
       p{
        font-family: 'Source Sans Pro';
        font-style: normal;
        font-weight: 400;
        font-size: 20px;
        line-height: 25px;
        color: #161617
       }
    }
    .hero-bottom{
        display: flex;
        justify-content: center;
        align-items: center;
        
    .hero-left{
        width: 50%;
        margin-left: 242px;
        .left-p{
            padding-bottom: 46px;
        }
        .left-info{
            gap: 17px;
        }

        .hero-logo{
            height: 20px;
            width: 20px;
            mix-blend-mode: multiply;
            padding-right: 17px;
        }
        p{
            font-weight: 200;
            font-size: 24px;
            line-height: 30px;
        }
        .button{
            align-self: center;
            border: 1px solid #161617;
            border-radius: 5px;
            width: 144px;
            margin-top: 105px;
            span{
                font-family: 'Source Sans Pro';
                font-style: normal;
                font-weight: 400;
                font-size: 18px;
                line-height: 23px;
                gap: 18px;
            }
        }
    }

    .hero-right{
        width: 50%;
        img{
            width: 500px;
            height: 500px;
            mix-blend-mode: multiply;
        }
    }
}
.bottom-p{
    margin: 0;
    padding-top: 43px;
    padding-bottom: 90px;
    text-align: center;
    font-family: 'Cormorant Garamond';
font-style: italic;
font-weight: 500;
font-size: 36px;
}
}