.style{
    background-color: #EBEBEB;
    
    .first{
            margin: 0px;
       
        .first-p{
            margin-top: 0;
            padding-top: 100px;
            margin-left: 183px;
            font-family: 'Source Sans Pro';
            font-style: normal;
            font-weight: 400;
            font-size: 20px;
            line-height: 25px;
        }
        .first-main{
            display: flex;
            justify-content: center;
            align-items: center;
            margin-left: 183px;
            .first-ml{
                width: 50%;
                .style{
                    font-family: 'Cormorant Garamond';
                    font-style: normal;
                    font-weight: 500;
                    font-size: 64px;
                    line-height: 78px;                    
                    letter-spacing: 0.3em;
                    
                }
                .ml-info{
                    padding-top: 70.5px;
                    .info-sub{
                        padding-bottom: 16px;
                        img{
                            mix-blend-mode: multiply;
                        }
                        .logo-info{
                            text-align: left;
                            font-style: normal;
                            font-weight: 400;
                            font-size: 18px;
                            line-height: 23px;
                            padding-left: 32px;
                        }


                    }
                    .how{
                        display: inline-block;
                        padding-top: 70.5px;
                        font-family: 'Source Sans Pro';
                        font-style: normal;
                        font-weight: 400;
                        font-size: 18px;
                        line-height: 23px;
                        
                    }
                }
            }
            .first-mr{
                width: 50%;
                .style-img{
                    mix-blend-mode: multiply;
                }
            }
        }
        
    }
    .second{
        margin: 0px;
        .second-p{
            margin-left: 1049px;
            font-weight: 400;
            font-size: 20px;
            line-height: 25px;
        }
        .second-main{
            display: flex;
            justify-content: center;
            align-items: center;
            margin-left: 177px;
            .second-ml{
                width: 50%;
                .style-img{
                    mix-blend-mode: multiply;
                }

            }
            .second-mr{
                width: 50%;
                .style{
                    font-family: 'Cormorant Garamond';
                    font-style: normal;
                    font-weight: 500;
                    font-size: 64px;
                    line-height: 78px;                    
                    letter-spacing: 0.3em;
                }
                .ml-info{
                    padding-top: 70.5px;
                    .info-sub{
                        padding-bottom: 16px;
                        img{
                            mix-blend-mode: multiply;
                        }
                        .logo-info{
                            text-align: left;
                            font-style: normal;
                            font-weight: 400;
                            font-size: 18px;
                            line-height: 23px;
                            padding-left: 32px;
                        }


                    }
                }
            }
        }
        

    }
    .desc{
        width: 946px;
        height: 60px;
        margin-left: 247px;
        margin-right: 247px;
        font-family: 'Source Sans Pro';
        font-style: normal;
        font-weight: 400;
        font-size: 24px;
        line-height: 30px;
        text-align: center;
    }

    .last-cta{
        margin-top: 100px;
        margin-left: 160px;
        left: calc(50% - 1100px/2 - 10px);
        margin-right: 180px;
        width: 1100px;
        height: 544px;
        box-shadow: 0px 10px 40px 5px rgba(128, 128, 128, 0.2);
        background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),url(../../../public/assests/Images/abstract_bg.jpg);
          background-size: cover;
        background-position: center;
        border-radius: 20px;
        

        .cta-left{
            
            width: 404px;
            height: 40px;
            margin-left: 44px;
            padding-top: 141px;
            color: white;
            .left-span{
                font-family: 'Source Sans Pro';
                font-style: normal;
                font-weight: 600;
                font-size: 32px;
                line-height: 40px;
            }
            .left-p{
                font-family: 'Source Sans Pro';
                font-style: normal;
                font-weight: 400;
                font-size: 18px;
                line-height: 23px;
            }
            
        }
        .cta-right{
            border: 1px;
            margin-left: 879px;
            margin-top: 234px;
            width: 191px;
            height: 44px;
        }
    }
}