.feature{
    background-color: #EBEBEB;
    
    .feature-img{
        width: 100%;
        height: 591px;
            background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../../../public/assests/Images/clothes_bg.jpg);
            background-size: cover;
            background-position: center;
            .img-text{
                font-family: 'Cormorant Garamond';
                padding-top: 100px;
                margin-left: 70px;
                font-style: normal;
                font-weight: 500;
                font-size: 48px;
                line-height: 58px;
                color: #FFFFFF;
                button{
                    margin-top: 70px;
                    width: 102px;
                    height: 43px;

                }
                .img-p{
                    padding-top: 70px;
                    font-family: 'Source Sans Pro';
                    font-style: normal;
                    font-weight: 400;
                    font-size: 18px;
                    line-height: 23px;
                    width: 1230px;
                    height: 92px;
                    
                    /* Primary/000 */
                    
                    color: #FFFFFF;
                    
                    
                }

            }
        }
  

    .info{
        padding-top: 45px;
        margin-left: 78px;
        .first-span{
            padding-top: 20px;
            font-family: 'Source Sans Pro';
            font-style: normal;
            font-weight: 600;
            font-size: 24px;
            line-height: 30px;
            padding-bottom: 50px;
        }
        .p-info{
            margin-top: 50px;
        }
        p{
            text-align: left;
            font-family: 'Source Sans Pro';
            font-style: normal;
            font-weight: 400;
            font-size: 18px;
            line-height: 23px;
        }
    }
    .style{
        display: flex;
        align-items: center;
        justify-content: center;
        padding-top: 90px;
        gap: 160px;
       
        .style-l{
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 20px;
            width: 483px;
            height: 115px;
            background: #FFFFFF;
            border-radius: 25px;
            .info-sub{

                display: flex;
                flex-direction: column;
                span{
                margin: 0;
                font-family: 'Source Sans Pro';
                font-style: normal;
                font-weight: 600;
                font-size: 20px;
                line-height: 25px;
                }
                p{
                    font-family: 'Source Sans Pro';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 20px;
color: #686B6E;
                }
            }
        }
        .style-r{
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 20px;
            width: 483px;
            height: 115px;
            background: #FFFFFF;
            border-radius: 25px;
            .info-sub2{

                display: flex;
                flex-direction: column;
                span{
                margin: 0;
                font-family: 'Source Sans Pro';
                font-style: normal;
                font-weight: 600;
                font-size: 20px;
                line-height: 25px;
                }
                p{
                    font-family: 'Source Sans Pro';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 20px;
color: #686B6E;
                }
            }
        }
    }

    .feature-bottom{
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: black;
        color: #FFFFFF;
        height: 188px;
        margin-top: 80px;
        p{
            font-family: 'Source Sans Pro';
            font-style: normal;
            font-weight: 400;
            font-size: 24px;
            line-height: 30px;
        }
    }
}